@import '../../../less/variables';

.container {
  box-sizing: border-box;
  padding: 17px 25px;

  .account-picture {
    .icon {
      width: 43px;
      height: 43px;
      font-size: 43px;
      color: @speakerIconBackgroundColor;
    }

  }
  .photo{
    background-size: cover;
    display: block;
    height: 43px ;
    width: 43px;
    border-radius: 50%;
  }

  .content {
    margin-left: 10px;
    width: calc(~"100%-43px)");

    .name {
      color: @backgroundBlueColor;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 7px;

    }

    .position {
      font-size: 12px;
      font-weight: 400;
    }
  }

}
