<div class="container" fxLayout="row" fxLayoutAlign="start center">
  <div *ngIf="!speaker.image" class="account-picture" fxLayoutAlign="center center">
    <mat-icon class="icon">account_circle</mat-icon>
  </div>
  <span *ngIf="speaker.image" class="photo" style.background-image={{image(speaker.image)}}></span>

  <div class="content" fxLayout="column">
    <div class="name">{{speaker.displayName}}</div>
  </div>
</div>
