<div class="container">

  <div class="content" *ngIf="events">
    <app-client-events-list-item
      *ngFor="let event of (events | filterByPredicate: isUpcomingEvent | orderBy: 'dateStart')"
      [event]="event">
    </app-client-events-list-item>

    <div class="info-message" *ngIf="(events | filterByPredicate: isUpcomingEvent ).length == 0" i18n="@@noEvents">No events</div>
  </div>

</div>
