@import '../../../less/variables';

.container {
  padding: 7px 22px 7px 0;
  cursor: default;
  user-select: none;

  .date {
    color: @secondaryTextColor;
    font-weight: 400;

    .day {
      font-size: 18px;
    }

    .month {
      font-size: 12px;
    }
  }

  .content {
    background-color: white;
    border-radius: 2px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &:hover {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    }

    &:active {
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
    }

    .title {
      padding-bottom: 10px;
      color: black;
      font-size: 16px;
      font-weight: 700;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .description {
      color: @secondaryTextColor;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 21px;
      max-height: 63px;
    }
  }

}
