<div class="container"  fxLayout="row" fxLayoutAlign="space-between start">

  <div class="date" fxFlex="20%"  fxLayout="column" fxLayoutAlign="center center">
    <div class="day">{{event.dateStart | date: "d"}}</div>
    <div class="month">{{event.dateStart | date: "MMM"}}</div>
  </div>

  <div class="content" fxFlex="80%" (click)="openEventDetails(event)">
    <div class="title">{{event.title}}</div>
    <div class="description">
      {{event.description}}
    </div>
  </div>
</div>
