@import '../../../less/variables';

.container {
  height: 100%;
  cursor: default;
  user-select: none;
  box-sizing: border-box;

  .answered-questions-header {
    height: 36px;
    background: @backgroundBlueColor;
    color: white;
    display: flex;
    font-size: 12px;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    justify-content: center;

    &.no-questions {
      height: 0;
      visibility: hidden;
    }
  }

  .answered-questions {
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 180px;
    height: calc(~"100% - 36px");

    &.no-questions {
      height: 100%;
    }

  }

  .no-questions-label {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    color: @secondaryTextColor;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
}
