
<div class="container">

  <div class="answered-questions-header" [ngClass]="{'no-questions' : questions &&  questions.length == 0}">
    {{(questions | filterBy: ['questionStatus']: 'CLOSED').length}}/{{questions.length}}
    <span class="questions-answered" i18n="@@questionsAnswered">questions answered</span>
  </div>

  <div class="answered-questions" [ngClass]="{'no-questions' : !questions || questions.length == 0}">

    <app-question-answered-list-item *ngFor="let question of  (questions | filterBy: ['questionStatus']: 'CLOSED' | orderBy: '-votes.length')" [question]="question">
    </app-question-answered-list-item>

  </div>

  <div class="no-questions-label" fxLayout="column" fxLayoutAlign="center center" *ngIf="questions.length == 0" i18n="@@noQuestion">
    No questions
  </div>

</div>
