@import '../../../less/variables';

.container {
  padding: 7.5px 0;
  font-weight: 400;

  .topic-time {
    color: @secondaryTextColor;
    padding-top: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
  }

  .topic-title {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    font-size: 14px;
    margin-right: 22.2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &:hover {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20);
    }

    &:active {
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.25);
    }

    .text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      max-height: 63px;
      line-height: 21px;
    }
  }

  &.active {
    background-color: @backgroundBlueColor;
    height: 100px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &:hover {
      background-color: @backgroundBlueColor;
      font-weight: 700;
    }

    .topic-time {
      color: white;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .topic-title {
      background-color: transparent;
      box-shadow: none;
      color: white;
      font-size: 16px;
      display: flex;
      align-items: center;

      &:hover {
        box-shadow: none;
      }

      &:active {
        box-shadow: none;
      }
    }
  }
}
