<div class="container"  fxLayout="row" fxLayoutAlign="space-between" [ngClass]="{'active' : isActive()}">

  <div class="topic-time" fxFlex="20%">{{topic.startDate | date: "HH:mm"}}</div>

  <div class="topic-title" fxFlex="80%" (click)="goToTopicsDetails(topic)">
    <div class="text">{{topic.title}}</div>
    </div>
</div>
