@import '../../../less/variables';

.container {
  height: 100%;
  width: 100%;
  position: relative;

  .header {
    background-color: @backgroundBlueColor;
    height: 73px;
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
    left: 0;
  }

  .content {
    overflow-y: auto;
    position: absolute;
    width: 100%;
    padding: 29px 25px 180px;
    box-sizing: border-box;
    top: 73px;
    left: 0;
    bottom: 0;
    right: 0;

    .username {
      font-size: larger;
      color: @backgroundBlueColor;
      font-weight: bold;
      margin: 20px 0 20px 0;
    }

    .question-input-form {
      width: 100%;

      .question-input {
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        resize: none;
      }
    }

  }

  .footer {
    height: 90px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 15px;
    left: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 20%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, white));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 10%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 20%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 20%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 20%);

    .post-question-btn {
      background-color: @greenButtonBackgroundColor;
      color: white;
      width: 100%;
      height: 60px;
      justify-content: center;
      border-radius: 60px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      transition: 300ms;
    }

    .post-question-btn[disabled] {
      background-color: white;
      color: @secondaryTextColor;
      width: 100%;
      height: 60px;
      justify-content: center;
      border-radius: 60px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      border: thin solid @secondaryTextColor;
      box-shadow: none;
      transition: 300ms;
    }
  }
}

::ng-deep .question-input-form .mat-form-field-flex {
  /* I'm using !important there because angular material styles are loading after my. Ant it overrides all my selectors*/
  border-radius: 2px 2px 0 0 !important;
  background-color: @backgroundGreyColor;

}

::ng-deep .question-input-form .mat-form-field-underline::before {
  background-color: @secondaryTextColor;
}

:host ::ng-deep app-header.question-ask-header {
  .join-btn {
    background: white;
    color: @backgroundBlueColor;
    &.joined {
      background: white;
      border: 1px solid white;
    }
  }
}
