<div class="container">

  <div class="header">
    <app-header class="question-ask-header" title="NewQuestion" backRoute="../upcoming"></app-header>
  </div>


  <div class="content">

    <div class="username">{{userProfileName}}</div>

    <mat-form-field class="question-input-form" appearance="fill">
      <mat-label i18n="@@askQuestionLabel">Question</mat-label>
      <textarea  class="question-input" type="text" matInput placeholder="Type your question here..."
                  rows="5" wrap="soft" [(ngModel)]="question.content"  [formControl]="questionFormControl" i18n-placeholder="@@typeQuestion"></textarea>
      <mat-error *ngIf="questionFormControl.invalid" i18n="@@notEmptyQuestion">
        question should not be <strong>empty</strong>
      </mat-error>
    </mat-form-field>

  </div>

  <div class="footer" fxLayout fxLayoutAlign="center end">
    <button mat-button class="post-question-btn"  [disabled]="questionFormControl.invalid" (click)="sendQuestion()" i18n="@@sendQuestion">Send question</button>
  </div>

</div>
