<div class="container">

  <div class="header">
    <app-header title="Events" backRoute="../"></app-header>
  </div>

  <div class="nav-bar-block">
    <nav mat-tab-nav-bar class="nav-bar-tabs">
      <a mat-tab-link class="nav-bar-tab"
         *ngFor="let link of tabLinks"
         [routerLink]="[link.path]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive" replaceUrl i18n="@@eventDetailsNavigation">
         link.label

      </a>
    </nav>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="footer" fxLayoutAlign="center end">
    <button mat-button class="join-event-btn" (click)="openStreams()" i18n="@@topicsAndStreams">Topics and Streams</button>
  </div>

</div>
