@import '../../../less/variables';

.container {
  height: 100%;
  position: relative;

  .header {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-bar-block {
    position: absolute;
    top: 73px;
    left: 0;
    background-color: white;
    z-index: 5;
    right: 0;

    .nav-bar-tabs.mat-tab-nav-bar {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      &.mat-primary {
        border-bottom: none;
      }
    }

    .nav-bar-tab {
      height: 48px;
      padding: 0 24px;
      cursor: pointer;
      box-sizing: border-box;
      min-width: 160px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      color: @inactiveTabFontColor;
      font-weight: 700;
      background-color: transparent;
      font-family: 'Open Sans', sans-serif;

      &.mat-tab-link.mat-tab-label-active {
        color: black;
      }
    }
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 108px;
    overflow-y: auto;
    background-color: white;
  }

  .footer {
    height: 110px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 22px;
    left: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,white 40%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, @backgroundGreyColor));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 40%);

    .join-event-btn {
      background-color: @greenButtonBackgroundColor;
      color: white;
      width: 100%;
      margin-bottom: 25px;
      height: 57px;
      bottom: 0;
      justify-content: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 100px;
      font-weight: 800;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }

  }
}

.mat-primary {
  box-shadow: 0 3px 4px 0 @shadowColor;
}

