@import '../../../less/variables';

.container {
  height: 100%;
  cursor: default;
  user-select: none;
  box-sizing: border-box;

  .opened-questions {
    height: 90px;
    background-color: @backgroundBlueColor;

    &.no-opened-questions {
      height: 0;
    }
  }

  .upcoming-questions {
    overflow-y: auto;
    box-sizing: border-box;
    height: calc(~"100% - 90px");
    padding-bottom: 180px;

    &.no-opened-questions {
      height: 100%;
    }

  }

  .label {
    box-sizing: border-box;

    .no-upcoming-questions-label {

      .no-upcoming-question-icon {
        color: @backgroundBlueColor;
        font-size: 72px;
        width: 72px;
        height: 72px;
        margin-bottom: 20px;
      }

      .no-upcoming-questions-text {
        font-size: large;
      }
    }

    .no-questions-asked-label {
      color: @secondaryTextColor;
      font-weight: 600;
      font-size: 14px;
      box-sizing: border-box;
    }

  }

}

.no-questions-label {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  color: @secondaryTextColor;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}
