
<div class="container">


  <div class="no-questions-label" fxLayout="column" fxLayoutAlign="center center" *ngIf="questions.length == 0" i18n="@@noQuestionsToAnswer">
    No questions to answer
  </div>

  <div class="opened-questions" *ngIf="!isTopicPassed" [ngClass]="{'no-opened-questions' : !questions || (questions  | filterBy: ['questionStatus']: 'OPENED').length == 0}">

    <app-question-opened-list-item *ngFor="let question of (questions  | filterBy: ['questionStatus']: 'OPENED')" [question]="question"></app-question-opened-list-item>
  </div>

  <div class="upcoming-questions" [ngClass]="{'no-opened-questions' : !questions || isTopicPassed || (questions  | filterBy: ['questionStatus']: 'OPENED').length == 0}">

    <app-question-upcoming-list-item *ngFor="let question of  (questions | filterByPredicate: isUpcoming | orderBy: '-votes.length')" [question]="question"></app-question-upcoming-list-item>

  </div>

  <div class="label" fxLayout="column" fxLayoutAlign="center center">

    <div class="no-upcoming-questions-label" *ngIf="questions.length > 0 &&  (questions | filterByPredicate: isUpcoming).length == 0; else no_questions" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon class="no-upcoming-question-icon">check_circle</mat-icon>
      <strong class="no-upcoming-questions-text" i18n="@@allQuestionsAreAnswered">All questions answered!</strong>
    </div>

    <ng-template #no_questions>
      <div *ngIf="questions.length == 0" class="no-questions-asked-label" i18n="@@noQuestionsAsked">No questions asked</div>
    </ng-template>

  </div>



</div>
