<div class="container">

  <app-speaker-list-item *ngFor="let speaker of speakers" [speaker]="speaker">

  </app-speaker-list-item>

  <div class="no-speakers" *ngIf="speakers.length == 0">
    No speakers in metioned yeat
  </div>

</div>
