@import '../../../less/variables';
.container {
  box-sizing: border-box;
  padding-bottom: 180px;
  padding-top: 15px;
}

.no-speakers {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 95px);
  color: @backgroundBlueColor;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
