<div class="container">

  <div class="content" *ngIf="events">
    <app-client-events-list-item *ngFor="let event of (events | filterByPredicate: isPassedEvent | orderBy: '-dateStart')" [event]="event">
    </app-client-events-list-item>
    <div class="info-message" *ngIf="events && (events | filterByPredicate: isPassedEvent).length == 0" i18n="@@noEvents">No events</div>
  </div>
</div>
