@import '../../../less/variables';

.container {
  padding: 7px 22px 7px 0;

  .votes {
    color: @secondaryTextColor;

    .votes-count {
      font-size: 18px;
    }

    .votes-text-label {
      font-size: 12px;
    }

    &.voted-by-user, &.created-by-user {
      color: @backgroundBlueColor;
      font-weight: 700;
    }
  }

  .content {
    background-color: white;
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transition: 300ms;

    &:hover {
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.17);
    }

    &:active {
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.19);
    }


    .question {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 21px;
      font-size: 14px;
      max-height: 63px;
    }
  }

}
