<div class="container" fxLayout="row" fxLayoutAlign="space-between center">

  <div fxFlex="20%" class="votes" fxLayout="column" fxLayoutAlign="center center"
       [ngClass]="{'voted-by-user': questionMetadata.votedByCurrentUser, 'created-by-user': questionMetadata.createdByCurrentUser}">

    <div class="votes-count">{{question.votes.length}}</div>
    <div class="votes-text-label" i18n="@@questionVotes">
      question.votes.length
    </div>
  </div>

  <div class="content" fxFlex="80%">
    <div class="question" (click)="openDetails()">{{question.content}}</div>
  </div>
</div>
