<div class="tag-cont">
  <div class="tag-div">
    <mat-form-field appearance="no" class="example-chip-list">
      <div class="inner-mat-field">
        <i (click)="backArrow()" class="material-icons"> arrow_back </i>
        <input (blur)="searchOff()" placeholder="Search" (keyup)="change()" matInput [(ngModel)]="tag"
               autocomplete="on" type="text"

               #input/>
        <a (mousedown)="clearOn($event)" class="mat-button-send-tag">
          <i class="cancel" class="material-icons">
            clear
          </i>
        </a>
      </div>
    </mat-form-field>
  </div>
</div>
