@import '../../../less/variables';

.tag-cont {
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #f1f2f5;
  width: 100%;
  ::ng-deep {
    .mat-form-field-infix {
      overflow-y: unset !important;
      overflow-x: scroll;
      display: contents !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      width: 280px;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      width: 100%;
    }
    .mat-form-field {
      width: 100%;
    }
    input.mat-chip-input {
      width: 100%;
    }
    .mat-chip-list {
      width: 100%;
    }
    .mat-chip-list-wrapper {
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-flex {
      padding-top: 5px !important;
    }
    .mat-input-element {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    .mat-form-field-wrapper {
      padding-top: 4px;
    }
  }
}

.example-chip-list {
  width: 100%;
  height: 20px;
  i {
    cursor: pointer;
  }
}

.tag-div {
  width: 100%;
  padding: 0px 10px 0px 10px;
  margin: auto;
}

.back-icon {
  display: inline-block;
}

.mat-button-back {
  display: inline-block;
  padding: 2px 0px 0px 0px;
}

.text-line {
  align-items: center;
  display: inline-flex;
  text-decoration: none;
}

.cancel {
  cursor: pointer;
}

.inner-mat-field {
  color: @search;
  width: 100%;
  display: flex;
}
