<div class="container">

  <div class="header">
    <app-header title="Questions" backRoute="../"></app-header>
  </div>

  <div class="nav-bar-block">
    <nav mat-tab-nav-bar class="nav-bar-tabs">
      <a mat-tab-link class="nav-bar-tab"
         *ngFor="let link of tabLinks"
         [routerLink]="[link.path]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive" replaceUrl i18n="@@questionNavigator">
        link.label

        <div
          *ngIf="link.path === 'upcoming' && !isTopicPassed && questions && (questions | filterBy: ['questionStatus']: 'NEW').length > 0"
          class="budge">
          {{(questions | filterBy: ['questionStatus']: 'NEW').length}}
        </div>

      </a>
    </nav>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div *ngIf="!isTopicPassed" class="footer" fxLayoutAlign="center end">
    <button mat-button class="ask-question-btn" (click)="openAskQuestionForm()" i18n="@@askQuestion">Ask question</button>
  </div>

</div>
