html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0 0;
}

.tabs {
  height: 100%;
}

.mat-tab-header,
.mat-tab-nav-bar {
  border: 0;
}

.mat-tab-label {
  color: @secondaryTextColor;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
}

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-label.mat-tab-label-active {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent !important;
}

.mat-ink-bar {
  background-color: @backgroundBlueColor !important;
}

.mat-tab-group.mat-primary
.mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 3px;
}

.mat-tab-links {
  justify-content: center;
}

.mat-button.no-hover ::ng-deep .mat-button-focus-overlay {
  background: none;
}
