/* This file contains variable declarations (do not remove this line) */

/*-- VARIABLES (DO NOT REMOVE THESE COMMENTS) --*/

@backgroundBlueColor: #4a90e2;
@editBtnBackgroundColor: rgba(74, 144, 226, 0.1);
@secondaryTextColor: #9b9b9b;
@backgroundGreyColor: #f1f2f6;
@greenButtonBackgroundColor: #3eb04f;
@inactiveTabFontColor: #d8d8d8;
@shadowColor: rgba(0, 0, 0, 0.18);
@speakerIconBackgroundColor: #dedede;
@delimiterColor: #d8d8d8;
@buttonDashedColour: #979797;
@buttonBackgroundDashedColour: #F8F8F8;
@buttonDashedAddTopic: #EFF1F3;
@whiteColour: #ffffff;
@topicContainer: #888888;
@linkColour: #1a0dab;
@stitchedBorder: #909598;
@stitchedColour: #A3A4A4;
@blackColour: black;
@navShadow: #9e9b9b;
@backgroundOfPage: rgba(237, 242, 246, 0.57);
@backgroundButtonInCard: #9A9A9A;
@line: #D4D4D4;
@addDateBorderColour: #666 #aaa #bbb #888;
@addDateColor: gray;
@toggleBtnDisabledColor: #bfbfbf;
@errorBackground: url('../assets/error-background/error-back.jpg');
@notAllowedIcon: url('../assets/not-aloowed/not-allowed.png');
@notAllowedErrorFont: #FFE27E;
@backgroundNotAllowed: url('../assets/not-aloowed/background-not-aloowed.png');
@fontError:  #ffc000;
@buttonPrimaryDelete: #4a90e2;
@buttonPrimary: #2e74e2;
@neggativeHover: rgba(68, 130, 226, 0.2);
@search: #656565;
