@import '../../../less/variables';
.all-page {
  height: 100%;
  background: @errorBackground center no-repeat;
  display: flex;
  background-size: cover;
  user-select: none;
}

.info {
  display: inline-flex;
}

.material-icons-new {
  background-size: contain;
  height: 150px;
  width: 150px;
}

.mat-icon {

  font-size: 250px;
  opacity: 0.75;
  width: inherit;
  height: inherit;
  color: @fontError;
}

.inline-content {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.error404 {
  font-size: 90px;
  color: @fontError;
}

.label-not-page {
  color:@fontError;
  font-size: 35px;

}

.link-to-main-page {
  font-size: 35px;
  color: #ffc000;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: inherit;
  }
}

.inline-page {
  display: inline-block;
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
}
