<div class="container" fxLayout="row" fxLayoutAlign="center center">

    <div class="votes" fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
      <div class="votes-count">{{question.votes.length}}</div>
      <div class="votes-text-label" [ngPlural]="getVotesPluralValue()">
        <ng-template ngPluralCase="=0">votes</ng-template>
        <ng-template ngPluralCase="=1">vote</ng-template>
        <ng-template ngPluralCase="=few">votes</ng-template>
      </div>
    </div>

    <div class="content" fxFlex="70%">
      <div class="question">{{question.content}}</div>
    </div>

    <div class="icon" fxFlex="10%" fxLayoutAlign="center center" (click)="openDetails()">
      <mat-icon>info_outline</mat-icon>
    </div>

</div>
