.container {
  padding: 15px 22px 15px 0;
  height: 100%;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  .votes {
    height: 100%;
    font-weight: 700;

    .votes-count {
      font-size: 18px;
    }

    .votes-text-label {
      font-size: 12px;
    }
  }

  .content {
    padding: 15px;


    .question {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-height: 21px;
      max-height: 63px;
      font-size: 16px;
    }

  }

  .icon {

    .mat-icon{
      font-size: 24px;
      width: 24px;
      height: 24px;
      font-weight: lighter;
      transition: 300ms;

      &:hover {
        font-size: 28px;
        width: 28px;
        height: 28px;
      }

      &:active {
        font-size: 32px;
        opacity: 0.5;
        width: 32px;
        height: 32px;
      }
    }
  }
}
