<div class="container">

  <div class="header">
    <app-header  class="app-topic-header" title="Topic" backRoute="../../"></app-header>
  </div>

  <div class="content" *ngIf="topic">

    <div class="details">

      <div class="stream-name" *ngIf="streamName">{{streamName}} - {{calculateDuration()}} mins</div>
      <div class="title">{{topic.title}}</div>
    <div class="description">{{topic.description}}</div>
    </div>

    <div class="speakers">
      <div class="subtitle"  i18n="@@topicSpeaker">
        topic.users.length
      </div>

      <app-speaker-list-item *ngFor="let speaker of topic.users" [speaker]="speaker"></app-speaker-list-item>
    </div>
  </div>

<div class="footer" fxLayoutAlign="center end">
  <button mat-button class="show-questions-btn" (click)="showQuestions()" i18n="@@showQuestions" *ngIf="isAuthorized">Show questions</button>
</div>
</div>
