@import '../../../less/variables';

.container {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  .header {
    background-color: @backgroundBlueColor;
    height: 73px;
    width: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px 0 @shadowColor;
  }

  .content {
    position: absolute;
    overflow-y: auto;
    top: 73px;
    right: 0;
    left: 0;
    padding-bottom: 180px;
    bottom: 0;

    .details {
      padding: 17px 25px 0;

      .stream-name {
        font-size: 14px;
        font-weight: 600;
      }

      .title {
        font-size: 20px;
        padding-top: 10px;
        font-weight: 700;
        color: @backgroundBlueColor;
      }

      .description {
        padding-top: 10px;
        font-size: 14px;
        line-height: 1.86;
        letter-spacing: -0.1px;
      }
    }


    .speakers {
      .subtitle {
        color: black;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 32px 25px 7px;
      }
    }

  }

  .footer {
    height: 110px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 22px;
    left: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,white 40%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, @backgroundGreyColor));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 40%);

    .show-questions-btn {
      background-color: @greenButtonBackgroundColor;
      color: white;
      width: 100%;
      margin-bottom: 25px;
      height: 57px;
      bottom: 0;
      justify-content: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 100px;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
    }

  }

}

:host ::ng-deep app-header.app-topic-header {
  .join-btn {
    background: white;
    border: 1px solid white;
    color: @backgroundBlueColor;

    &.joined {
      background: white;
      border: 1px solid white;
    }
  }
}

