<div class="header">
  <span [style.display]="!tagsInputVisible ? 'block' : 'none'" class="header-icon-wrapper">
    <i class="material-icons header-icon" *ngIf="onEventRote(router.url)" (click)="arrowBack()">
      arrow_back_ios
    </i>
  </span>
  <h3
    [style.display]="!tagsInputVisible ? 'block' : 'none'"
    [style.animation-name]="appearance ? 'appearance' : 'none'"
    class="header-title" i18n="@@headerTitle">
    title
  </h3>

  <div class="tag-search" [style.animation-name]="tagsInputVisible ? 'trans' : 'none'"
       [style.animation-name]="transRevers ? 'transRevers' : 'none'">
    <app-search-tags
                     *ngIf="!onEventRote(router.url) && tagsInputVisible">
    </app-search-tags>
    <div class="icon-search" *ngIf="!onEventRote(router.url)">
      <i (click)="searchOn()" [style.display]="!tagsInputVisible ? 'inline-block' : 'none'"
         [style.animation-name]="appearance ? 'appearance' : 'none'" class="material-icons">
        search
      </i>
  </div>
  </div>
  <button mat-button class="join-btn"
          *ngIf="onEventRote(router.url)"
          [ngClass]="{joined : joinedToEvent}"
          (click)="toggleParticipation()"
          [disabled]="passed">
    <span i18n="@@joinedJoin">
    joinedToEvent
    </span>
  </button>
</div>
