@import '../../../less/variables';

.header {
  display: flex;
  height: 80px;
}

.header-title {
  margin: 26px 0 0;
  width: 80%;
  font-weight: 700;
  font-size: 18px;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  align-items: center;
  animation-delay: 0ms;
  animation-duration: 2000ms;
}

@keyframes appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }

}
 .icon-search  {
   padding-top: 11px;
   display: inline-block;
      cursor: pointer;
      animation-delay: 0ms;
      animation-duration: 2000ms;
    }
.header-icon-wrapper {
  z-index: 1000;
  margin: 33px 0 0 30px;
  width: calc(20% - 30px);

  .header-icon {
    cursor: pointer;
  }
}

.join-btn {
  cursor: pointer;
  margin: 30px 25px 0;
  height: 30px;
  min-width: 115px;
  border-radius: 30px;
  border: 1px solid @backgroundBlueColor;
  line-height: normal;
  font-size: 14px;
  font-weight: 800;
  color: @backgroundBlueColor;

  &.joined {
    min-width: 115px;
    cursor: pointer;
    background: @editBtnBackgroundColor;
    border: 1px solid @editBtnBackgroundColor;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
}

.in-input {
  display: inline-flex;
  width: 100%;
  align-items: center;
}

.but {
  display: flex;
  min-width: 35px !important;
  width: 35px;
  height: 35px;
  line-height: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 14px;
  float: right;
  padding: 9px;
  border-radius: 4px;
  color: white;
  background: @backgroundBlueColor;
  i {
    font-size: 20px;
  }
}

.tag-search {
  justify-content: flex-end;
  display: flex;
  margin-top: 15px;
  margin-right: 22px;
  margin-left: 22px;
  width: 100%;
  animation-delay: 0ms;
  animation-duration: 500ms;
  app-search-tags {
    width: 100%;
  }
}

@keyframes trans {
  from {
    width: 0;
  }

  to {
    width: 100%
  }

}

@keyframes transRevers {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }

}
