@import '../../../less/variables';

.container {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 32px 180px;
  overflow-y: auto;

  .title {
    color: @blackColour;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 20px;
    font-weight: 700;
    word-break: break-word;
  }

  .description {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 400;
    word-break: break-word;
  }

  .date-start, .location {
    font-size: 12px;
    font-weight: 400;
  }

  .icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: @backgroundBlueColor;
  }

  .subtitle {
    color: @backgroundBlueColor;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin: 26px 0 5px;
  }

  .participants {
    font-size: 12px;
    font-weight: 400;
  }

  .join-event-toggle-group {

    &.mat-button-toggle-group {
      box-shadow: none;

      .mat-button-toggle {
        background-color: transparent;
        color: @backgroundBlueColor;
        border: @backgroundBlueColor solid 1px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        margin-right: 5px;

        &.mat-button-toggle-disabled {
          color: @backgroundBlueColor;
          border: @backgroundBlueColor solid 1px;
        }

        &.mat-button-toggle-checked {
          color: @backgroundBlueColor;
          border: @backgroundBlueColor solid 1px;

          &.mat-button-toggle-disabled {
            color: @toggleBtnDisabledColor;
            border: @toggleBtnDisabledColor solid 1px;
          }
        }

        ::ng-deep .mat-button-toggle-label-content {
          line-height: normal;
          padding: 3px 15px;
        }
      }
    }
  }
}

.goin-not-goin-button {
  font-weight: 800;
  margin-top: 20px;
  width: 100%;
  background: @backgroundBlueColor;
  color: @whiteColour;
  border: 2px solid @backgroundBlueColor;
  border-radius: 5px;
}


.location-icon{
  cursor: pointer;
}



