<div class="container" *ngIf="event">

  <div class="title">{{event.title}}</div>

  <div class="description">{{event.description}}</div>

  <h4 class="subtitle" i18n="@@when">When</h4>
  <div class="date-start">{{event.dateStart | date}}</div>

  <h4 class="subtitle" i18n="@@where">Where</h4>
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div class="location" fxFlex="80%">{{event.location.formattedAddress}}</div>
    <div fxFlex="20%" fxLayoutAlign="end">
      <mat-icon class="icon location-icon" (click)="openGoogleMaps()">directions</mat-icon>
    </div>
  </div>

  <h4 class="subtitle" i18n="@@participants">Participants</h4>
  <div class="participants" fxLayout="row" fxLayoutAlign="space-between center">{{potentialVisitors.length}} / {{event.participantsLimit}}
    <mat-icon  class="icon participants-icon" >people</mat-icon>
  </div>
</div>
