@import '../../../less/variables';

.all-page {
  height: 100%;
  background: @backgroundNotAllowed center no-repeat;
  background-size: cover;
  display: flex;

  user-select: none;
}

.info {
  display: inline-flex;
}

.material-icons-new {
  background-size: contain;
  height: 150px;
  width: 150px;
}

.inline-content {
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.not-allow{
  height: 262px;
  width: 250px;
  background: @notAllowedIcon center no-repeat;
  background-size: cover;
  display: inline-block;
  opacity: 0.75;

}

.error403 {
  font-size: 90px;
  color: @notAllowedErrorFont;
}

.label-not-page {
  color: @notAllowedErrorFont;
  font-size: 35px;
}

.link-to-main-page {
  font-size: 37px;
  color: @notAllowedErrorFont;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    text-decoration: inherit;
  }
}

.inline-page {
  display: inline-block;
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
}

