<div class="all-page">
  <div class="inline-page">
    <div class="inline-content">
      <label class="error403">403</label>
    </div>
    <div class="inline-content">
      <label class="label-not-page">This page not allowed</label>
    </div>

    <div class="inline-content">
      <div class="not-allow"></div>

    </div>
    <div class="inline-content">
      <a class="link-to-main-page" [routerLink]="['']">Go Home</a>
    </div>
  </div>
</div>
