@import '../../../less/variables';

.container {
  padding: 7px 22px;
  box-sizing: border-box;

  .item-content{
    border-bottom: solid 1px @delimiterColor;

    .votes {
      color: @secondaryTextColor;

      .votes-count {
        font-size: 18px;
      }
      .votes-text-label {
       font-size: 12px;
      }

      &.voted-by-user, &.created-by-user {
        color: @backgroundBlueColor;
        font-weight: bold;
      }
    }

    .content {
      padding: 15px;

      .question {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        font-size: 14px;
        -webkit-line-clamp: 3;
        line-height: 21px;
        max-height: 63px;
      }
    }


    .icon {

      .mat-icon{
        font-size: 24px;
        width: 24px;
        height: 24px;
        color: @backgroundBlueColor;
        transition: 300ms;

        &:hover {
          font-size: 28px;
          width: 28px;
          height: 28px;
        }

        &:active {
          font-size: 32px;
          width: 32px;
          height: 32px;
          opacity: 0.5;
        }
      }
    }
  }
}
