<div class="container">

 <div class="topic-list-container" *ngIf="topics.length > 0">
  <div class="upcoming-and-ongoing-topics" *ngIf="event && topics && isEventNotPassed(event); else passed">
    <div class="active-topics"
         [ngClass]="{'no-active-topics' : !topics || (topics  | filterByPredicate: isOngoing).length == 0}">

      <app-topic-client-list-item *ngFor="let topic of (topics  | filterByPredicate: isOngoing)"
                                  [topic]="topic"></app-topic-client-list-item>
    </div>

    <div class="upcoming-topics"
         [ngClass]="{'no-active-topics' : !topics || (topics  | filterByPredicate: isUpcoming).length == 0}">

      <app-topic-client-list-item *ngFor="let topic of  (topics | filterByPredicate: isUpcoming)"
                                  [topic]="topic"></app-topic-client-list-item>
    </div>
  </div>

  <ng-template #passed>
    <div class="passed-topics" *ngIf="topics">
      <app-topic-client-list-item *ngFor="let topic of  topics" [topic]="topic"></app-topic-client-list-item>
    </div>
  </ng-template>
 </div>
  <div class="empty-topic-list" *ngIf="topics.length === 0" i18n="@@thereAreNoTopics">
    There are no topics
  </div>

</div>
