@import '../../../less/variables';
.container {
  height: 100%;
  cursor: default;
  user-select: none;
  box-sizing: border-box;

  .upcoming-and-ongoing-topics {
    height: 100%;

    .active-topics {
      height: 90px;

      &.no-active-topics {
        height: 0;
      }
    }

    .upcoming-topics {
      overflow-y: auto;
      height: calc(100% - 90px);

      &.no-active-topics {
        height: 100%;
      }
    }
  }

  .passed-topics {
    overflow-y: auto;
    height: 100%;
  }
}

.empty-topic-list{
  text-align: -webkit-center;
  padding-top: 80px;
  font-size: 22px;
  color: @secondaryTextColor;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
