@import '../../../less/variables';

.container {
  height: 100%;
  position: relative;

  .header {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav-bar-block {
    position: absolute;
    top: 73px;
    left: 0;
    background-color: white;
    z-index: 5;
    right: 0;
    text-align: center;

    .events-nav-bar-tabs.mat-tab-nav-bar {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;

      &.mat-primary {
        border-bottom: none;
        text-align: center;
      }
    }

    .budge {
      position: absolute;
      right: 2px;
      top: 0;
      font-size: 10px;
      border-radius: 10px;
      padding: 2px 10px 2px 10px;
      background-color: @backgroundBlueColor;
      color: white;
    }

    .events-tab {
      height: 48px;
      padding: 0 24px;
      cursor: pointer;
      box-sizing: border-box;
      min-width: 160px;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      color: @inactiveTabFontColor;
      font-weight: 700;
      background-color: transparent;
      font-family: 'Open Sans', sans-serif;

      &.mat-tab-link.mat-tab-label-active {
        color: black;
      }
    }
  }

  .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 108px;
    background-color: @backgroundGreyColor;
  }
}

.mat-primary {
  box-shadow: 0 3px 4px 0 @shadowColor;
}

