<div class="container">

  <div class="header">
    <app-header title="Events" backRoute="../"></app-header>
  </div>

  <div class="nav-bar-block">
    <nav mat-tab-nav-bar class="event-nav-bar-tabs">
      <a mat-tab-link class="events-tab"
         *ngFor="let link of tabLinks"
         [routerLink]="[link.path]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive" replaceUrl i18n="@@eventRouting">
         link.label

        <div *ngIf="link.path === 'upcoming' && events && (events | filterByPredicate: isUpcomingEvent).length > 0" class="budge">{{(events | filterByPredicate: isUpcomingEvent).length}}</div>

      </a>
    </nav>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
