@import '../../../less/variables';

.container {
  height: 100%;
  position: relative;

  .header {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.nav-bar {
  background: white;
  position: absolute;
  top: 73px;
  left: 0;
  z-index: 5;
  right: 0;

  .mat-tab-nav-bar.streams  {
    list-style:none;
    height: 48px;
    margin:0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding:0;
    text-align:center;
    overflow-x: auto;

  }

  .stream-name {
    height: 48px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    color: @secondaryTextColor;
    font-weight: 700;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;

    &.mat-tab-link.mat-tab-label-active{
      color: black;
      font-weight: bold;
    }
  }
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 121px;
  overflow-y: auto;
  z-index: 1;
  background-color: @backgroundGreyColor;
}

::ng-deep .mat-tab-links {
  display: inline-flex !important;
}

.mat-primary {
  border-bottom: none;
  box-shadow: 0 3px 4px 0 @shadowColor;
}

.no-steams{
  height: 126px;
}

.no-streams-for-display{
  text-align: -webkit-center;
  padding-top: 80px;
  font-size: 22px;
  color: @secondaryTextColor;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

