
<div class="container">

  <div class="header">
    <app-header title="Streams" backRoute="../"></app-header>
  </div>
  <div class="nav-bar">
    <nav mat-tab-nav-bar class="streams">
      <a mat-tab-link class="stream-name" *ngFor="let stream of streams "
         [routerLink]="[stream.id]"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive" replaceUrl>{{stream.name}}</a>
    </nav>
  </div>

    <div class="content" *ngIf="streams.length > 0">
      <router-outlet></router-outlet>
    </div>

  <div class="no-streams-container" *ngIf="streams.length === 0">
    <div class="no-steams" >
    </div>
    <div class="content">
      <div class="display-center">
      <div class="no-streams-for-display" i18n="@@noStreamsForDisplay">
        There are no streams in this event yet
      </div>
      </div>
    </div>
  </div>

</div>
