@import '../../../less/variables';

.container {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: @buttonDashedAddTopic;
  font-family: Roboto, sans-serif;
}

.logo-wrapper {
  margin-bottom: 45px;
  margin-top: -65px;

  img {
    float: left;
    height: 55px;
  }
  .app-name-wrapper {
    float: left;
    margin-left: 10px;

    .first-word {
      color: @backgroundBlueColor;
      margin: 0;
      font-weight: 900;
      font-size: 24px;
    }

    .second-word {
      color: @backgroundBlueColor;
      margin-top: 5px;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 24px;
    }
  }
}

.login-form-wrapper {
  padding: 20px;
  width: 400px;
  background: @whiteColour;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.top-phrase {
  text-align: center;
  font-weight: 400;
  margin-top: 5px;
  font-size: 24px;
  color: @secondaryTextColor;
}

.facebook-btn,
.google-btn,
.linkedin-btn {
  color: @whiteColour;
  font-weight: 700;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  margin-top: 5px;
  margin-bottom: 5px;

  svg {
    height: 25px;
    fill: @whiteColour;
    margin-bottom: 5px;
  }
}

.facebook-btn {
  background-color: #3B5998;
}

.google-btn {
  background-color: #DB4437;
}


.linkedin-btn {
  background-color: #0077B5;
}


.message {
  position: absolute;
  bottom: 0;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 14px;
  color: @secondaryTextColor;
}

@media (max-width: 600px) {
  .login-form-wrapper {
    width: auto;
    background: transparent;
    box-shadow: none;
  }

  .logo-wrapper {
    margin-bottom: 10px;
    margin-top: -50px;
  }
}
