@import '../../../less/variables';

.container{
  height: 100%;
  overflow: hidden;

  .content{
    padding: 18px 0;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;


    .info-message{
      height: 100%;
      color: @secondaryTextColor;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

}

