@import '../../../less/variables';

.container {
  height: 100%;
  position: relative;

  .header {
    background-color: @backgroundBlueColor;
    height: 73px;
    width: 100%;
    color: white;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
    top: 0;
    right: 0;
    left: 0;
  }

  .content {
    overflow-y: auto;
    position: absolute;
    top: 73px;
    box-sizing: border-box;
    padding: 29px 25px 180px;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;

    .question-info-block {
      border-bottom: solid 1px @delimiterColor;
      padding-bottom: 16px;
      margin-bottom: 25px;
      font-weight: 700;

      .votes-count {
        font-size: 18px;
      }

      .votes-label {
        font-size: 12px;
      }

      .author-name {
        font-size: 14px;
        font-weight: 400;
        padding-left: 20px;
      }

    }

    .question-status {
      visibility: hidden;
      margin: 0;

      &.opened {
        margin-bottom: 25px;
        visibility: visible;
        font-size: 12px;
        font-weight: bold;
      }
    }

    .question-text {
      color: @backgroundBlueColor;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.55;
      letter-spacing: -0.2px;
    }

    .buttons-row {
      padding-top: 25px;

      .btn-delete {
        background: @buttonPrimaryDelete;
        font-weight: 700;
        color: white;
        text-align: center;

        &:hover {
          background: #377ae2;
          color: white;
        }
      }
    }
  }

  .footer {
    height: 110px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 22px;
    left: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, @backgroundGreyColor));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 40%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 40%);

    .vote-btn {
      background-color: @greenButtonBackgroundColor;
      color: white;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      width: 100%;
      margin-bottom: 25px;
      height: 57px;
      justify-content: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      border-radius: 100px;

      &.voted-by-me {
        background-color: white;
        color: red;
        border: thin solid red;
      }
    }

    .vote-btn[disabled] {
      background-color: white;
      color: @secondaryTextColor;
      font-weight: bold;
      width: 100%;
      margin-bottom: 25px;
      height: 57px;
      justify-content: center;
      font-size: 14px;
      border: thin solid @secondaryTextColor;
      border-radius: 100px;
      box-shadow: none;
    }
  }
}

:host ::ng-deep app-header.question-details-header {
  .join-btn {
    background: white;
    border: 1px solid white;
    font-weight: 800;
    color: @backgroundBlueColor;

    &.joined {
      background: white;
      border: 1px solid white;
    }
  }
}
