<div class="container">

  <div class="header">
    <app-header class="question-details-header" title="Question" backRoute="../upcoming"></app-header>
  </div>

  <div class="content" *ngIf="question !== undefined; else loading">

    <div class="question-info-block" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
        <div class="votes-count">{{question.votes.length}}</div>
        <div class="votes-label"  i18n="@@questionVotes">
          question.votes.length
        </div>
      </div>
      <div fxFlex="80%" fxLayout="column" fxLayoutAlign="center start">
        <div class="author-name">{{question.authorDisplayName}}</div>
      </div>
    </div>

    <div class="question-status" [ngClass]="{'opened': question.questionStatus !== 'NEW'}">{{question.questionStatus.toString()}}</div>
    <div class="question-text">{{question.content}}</div>

    <div class="buttons-row" fxLayout="row"  fxLayoutAlign="space-between">

      <div fxFlex="30%" *ngIf="questionMetadata.canModerate || questionMetadata.createdByCurrentUser">
        <button class="btn-delete" mat-button (click)="deleteQuestion()" i18n="@@deleteQuestionButton">Delete</button>
      </div>

      <div fxFlex="60%" fxLayoutAlign="end" *ngIf="questionMetadata.canModerate">
        <button mat-button color="primary" (click)="startAnswering().subscribe()" i18n="@@answerQuestionButton">Answer</button>
        <button mat-button color="primary" (click)="closeQuestion().subscribe()"  i18n="@@completeQuestionButton">Complete</button>
      </div>
    </div>

  </div>

  <div class="footer" fxLayoutAlign="center end" *ngIf="!isTopicPassed && !isAnswered()">
    <button class="vote-btn" mat-button [disabled]="questionMetadata.createdByCurrentUser"
            [ngClass]="{'voted-by-me': questionMetadata.votedByCurrentUser}"
            (click)="voteForQuestion()" i18n="@@youAreAuthor"
            *ngIf="questionMetadata.createdByCurrentUser">
      You're author of this question
    </button>
    <button class="vote-btn" mat-button [disabled]="questionMetadata.createdByCurrentUser"
            [ngClass]="{'voted-by-me': questionMetadata.votedByCurrentUser}"
            (click)="voteForQuestion()"  i18n="@@votedByCurrentUser"
            *ngIf="questionMetadata.votedByCurrentUser">
      Remove vote
    </button>
    <button class="vote-btn" mat-button [disabled]="questionMetadata.createdByCurrentUser"
            [ngClass]="{'voted-by-me': questionMetadata.votedByCurrentUser}"
            (click)="voteForQuestion()" i18n="@@voteForQuestion"
            *ngIf="!questionMetadata.createdByCurrentUser && !questionMetadata.votedByCurrentUser">
      Vote for a question
    </button>
  </div>


  <ng-template #loading>Loading...</ng-template>


</div>
